* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0c0c;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #3eb0aa;
  background-color: #161616;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #bfbdbd;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #bfbdbd;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #ffff05;
  font-size: 5vmin;
}

#turn-display {
  font-size: 24px;
  font-weight: bold;
  color: #f0db4f; 
  text-align: center;
  margin-bottom: 20px;
  background-color: #0a0c0c;
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}


.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}


.hide {
  display: none;
}